fastapi==0.111.0
uvicorn==0.30.1
pydantic==2.7.4
pydantic-settings==2.3.4
python-multipart==0.0.9
opencv-python-headless==4.10.0.84
numpy==1.26.4
scipy==1.13.1
scikit-learn==1.5.1
tensorflow==2.16.1
pillow==10.4.0
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
sqlmodel==0.0.21
sqlalchemy==2.0.31
psycopg2-binary==2.9.9
redis==5.0.7
cloudinary==1.40.0
reportlab==4.2.2
shap==0.44.1
matplotlib==3.9.1.post1
albumentations==1.4.10
pywavelets==1.6.0
firebase-admin==6.5.0
requests==2.32.3
