<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>953948179840-gm9r307scvish0vjl3aibi4f2vab9aho.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.953948179840-gm9r307scvish0vjl3aibi4f2vab9aho</string>
	<key>API_KEY</key>
	<string>AIzaSyD54xmEWQIHXGsYoCkghwRoWdJSTi2x97o</string>
	<key>GCM_SENDER_ID</key>
	<string>953948179840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.medvision.ai</string>
	<key>PROJECT_ID</key>
	<string>medvision-d2394</string>
	<key>STORAGE_BUCKET</key>
	<string>medvision-d2394.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:953948179840:ios:f4d798bd32f276affd4565</string>
</dict>
</plist>